<link rel="stylesheet" href="~/css/aside.css" asp-append-version="true" />

<aside>
    <div class="toggle">
        <div class="logo">
            <h2><span class="danger">W</span>Chats</h2>
            <div class="close" id="close-btn">
                <span class="material-symbols-sharp">
                    close
                </span>
            </div>
        </div>
    </div>

    <div class="sidebar">
        @{
            if (ViewBag.Chats != null)
            {
                foreach (var item in ViewBag.Chats)
                {
                    <form class="@(ViewBag.Chat?.Id == item?.Id ? "active" : "")" asp-controller="Chat" asp-action="Chat">
                        <input name="User" class="visually-hidden" value="@ViewBag.User" />
                        <input name="Id" class="visually-hidden" value="@item?.Id" />
                        <input name="Name" class="visually-hidden" value="@item?.Name" />
                        <button type="submit">
                            <h3>@item?.Name</h3>
                        </button>
                    </form>
                }
            }
        }
        <form asp-controller="home" asp-action="index">
            <button>
                <h3>Logout</h3>
            </button>
        </form>
    </div>
</aside>