<link rel="stylesheet" href="~/css/contacts_block.css" asp-append-version="true" />

<div class="contacts-container">
    <div class="no-contacts-message">
        <h3>У вас нет контактов</h3>
        <form asp-controller="Home" asp-action="Search" method="get">
            <button type="submit" class="button primary-btn">Найти</button>
        </form>
    </div>
</div>

<partial name="~/Views/partials/contact_template.cshtml" />

<script>
    let contactTemplate = document.getElementById("contact-template");
    let contactsContainer = document.querySelector(".contacts-container");
    let noContactsMessage = document.querySelector(".no-contacts-message");

    GetAllContacts().then(contacts => {
        if (contacts.length > 0)
            noContactsMessage.style.display = "none";

        contacts.forEach(user => {
            let contactItem = contactTemplate.content.cloneNode(true);

            let divContact = contactItem.querySelector(".contact");
            divContact.addEventListener('click', onContactClick);

            let idContact = contactItem.querySelector(".contact-id");
            idContact.value = user.id;
            let nameContact = contactItem.querySelector(".contact-name");
            nameContact.innerText = user.name;

            divContact.classList.add("contact-selected");

            contactsContainer.appendChild(contactItem);
        });
    });

    function onContactClick(event) {
        var contactDiv = event.target.closest('.contact');

        try {
            onClickContact(contactDiv);
        } catch {
        }
    }

    async function GetAllContacts() {
        let response = await fetch('/Home/GetContacts/');
        return response.json();
    }

    function sendRequest(url, method, data) {
        console.log("send query");
        return fetch(url, {
            method: method,
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        }).then(response => {
            console.log("get respponce");
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            return response.json();
        }).then(data => {
            console.log('Server response:', data);
            // Добавьте здесь логику обработки успешного ответа сервера, если необходимо
        }).catch(error => {
            console.error('There has been a problem with your fetch operation:', error);
        });
    }
</script>