<template id="contact-template">
    <div class="contact">
        <input type="hidden" class="contact-id"></input>
        <h3 class="contact-name"></h3>
        <div class="dash-line"></div>
        <span id="add-contact-span" class="material-symbols-sharp person-add">
            person_add
        </span>
        <span id="remove-contact-span" class="material-symbols-sharp person-cansel">
            person_cancel
        </span>
    </div>
</template>