<link rel="stylesheet" href="~/css/message.css" asp-append-version="true" />

<template id="message-template">
    <div class="message">
        <small id="name-message"></small>
        <p></p>
        <div class="down-row">

            <small id="date-message"></small>

        </div>
    </div>
</template>