<link rel="stylesheet" href="~/css/popup-msg.css" asp-append-version="true" />

<div class="popup">
    <button class="reply-btn">
        <span class="material-symbols-sharp">
            reply
        </span>
        <h2>Ответить</h2>
    </button>
    <button class="edit-btn">
        <span class="material-symbols-sharp">
            edit
        </span>
        <h2>Редактировать</h2>
    </button>
    <button class="delete-btn">
        <span class="material-symbols-sharp">
            delete
        </span>
        <h2>Удалить</h2>
    </button>
</div>