@{
    ViewData["Title"] = "Profile";
}

<link rel="stylesheet" href="~/css/profile.css" asp-append-version="true" />

<div class="main-container">
    <div class="default-elem profile-container">
    </div>
</div>