@import url(site.css);

:root {
    --color-primary: #6C9BCF;
    --color-danger: #FF0060;
    --color-success: #1B9C85;
    --color-warning: #F7D060;
    --color-white: #fff;
    --color-info-dark: #7d8da1;
    --color-dark: #363949;
    --color-light: #848bc82e;
    --color-dark-variant: #677483;
    --color-background: #f6f6f9;

    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 1.2rem;

    --card-padding: 1.8rem;
    --padding-1: 1.2rem;

    --box-shadow: 0 2rem 3rem var(--color-light);
}

.dark-mode-variables {
    --color-background: #181a1e;
    --color-white: #202528;
    --color-dark: #edeffd;
    --color-dark-variant: #a3bdcc;
    --color-light: rgba(0, 0, 0, 0.4);
    --box-shadow: 0 2rem 3rem var(--color-light);
}

aside .sidebar form button {
    background-color: transparent;
    align-content: center;
    height: 100%;
    width: 100%;
    transition: all 0.3s ease;
}

h3 {
    display: flex;
    margin: 0 auto;
    color: var(--color-dark);
}

aside {
    height: 100vh;
    width: 100%;
}

aside .toggle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.4rem;
    height: 3vh;
}

aside .toggle .logo {
    display: flex;
    gap: 0.5rem;
}

aside .toggle .close {
    padding-right: 1rem;
    display: none;
}

aside .sidebar {
    display: flex;
    flex-direction: column;
    background-color: var(--color-white);
    box-shadow: var(--box-shadow);
    border-radius: 15px;
    position: relative;
    top: 1.5rem;
    margin-bottom: 10rem;
    height: calc(100vh - 3rem);
    overflow: hidden;
    transition: all 0.3s ease;
}

aside .sidebar:hover {
    box-shadow: none;
}

aside .sidebar form {
    display: flex;
    align-items: center;
    color: var(--color-info-dark);
    height: 3.7rem;
    gap: 1rem;
    position: relative;
    margin-left: 2rem;
    transition: all 0.3s ease;
}

aside .sidebar form span {
    font-size: 1.6rem;
    transition: all 0.3s ease;
}

aside .sidebar form:last-child {
    position: absolute;
    bottom: 2rem;
    width: 100%;
}

aside .sidebar form.active {
    width: 100%;
    color: var(--color-primary);
    background-color: var(--color-light);
    margin-left: 0;
}

aside form.active button {
    color: var(--color-primary);
}

aside .sidebar form.active::before {
    content: '';
    width: 6px;
    height: 18px;
    background-color: var(--color-primary);
}

aside .sidebar form:not(.active):hover {
    margin-left: 1.6rem;
}

aside .sidebar form:not(.active) button:hover {
    color: var(--color-primary);
}