@import url(site.css);

:root {
    --color-primary: #6C9BCF;
    --color-danger: #FF0060;
    --color-success: #1B9C85;
    --color-warning: #F7D060;
    --color-white: #fff;
    --color-info-dark: #7d8da1;
    --color-dark: #363949;
    --color-light: #848bc82e;
    --color-dark-variant: #677483;
    --color-background: #f6f6f9;

    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 1.2rem;

    --card-padding: 1.8rem;
    --padding-1: 1.2rem;

    --box-shadow: 0 2rem 3rem var(--color-light);
}

.dark-mode-variables {
    --color-background: #181a1e;
    --color-white: #202528;
    --color-dark: #edeffd;
    --color-dark-variant: #a3bdcc;
    --color-light: rgba(0, 0, 0, 0.4);
    --box-shadow: 0 2rem 3rem var(--color-light);
}

aside .sidebar form:hover span {
    color: var(--color-primary);
    font-weight: 900;
    vertical-align: middle;
    transition: all 0.3s ease;
}

#expand-chat-btn{
    color: transparent;
    cursor: pointer;
    margin: 1rem;
    margin-right: 1.5rem;
    padding: 0;
    width: auto;
    vertical-align: middle;
}

#expand-chat-btn span:hover{
    vertical-align: middle;
    color: var(--color-success);
}

.chat-item button{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}

.chat-item h3{
    text-align: left;
    margin: 0;
}

.chat-item img{
    height: 60%;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 100%;
}

.chat-item .hide-img{
    display: none;
}

.call-manager-button{
    width: 100%;
    padding: 1rem;
}

.call-manager-button h2{
    margin: 0;
}

.hide-call-manager-button{
    display: none;
}