@import url(site.css);

:root {
    --color-primary: #6C9BCF;
    --color-danger: #FF0060;
    --color-success: #1B9C85;
    --color-warning: #F7D060;
    --color-white: #fff;
    --color-info-dark: #7d8da1;
    --color-dark: #363949;
    --color-light: rgba(132, 139, 200, 0.18);
    --color-dark-variant: #677483;
    --color-background: #f6f6f9;

    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 1.2rem;

    --card-padding: 1.8rem;
    --padding-1: 1.2rem;

    --box-shadow: 0 2rem 3rem var(--color-light);
}

.dark-mode-variables {
    --color-background: #181a1e;
    --color-white: #202528;
    --color-dark: #edeffd;
    --color-dark-variant: #a3bdcc;
    --color-light: rgba(0, 0, 0, 0.4);
    --box-shadow: 0 2rem 3rem var(--color-light);
}

p {
    color: var(--color-dark);
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100vh;
    background-color: var(--color-background);
    padding: 0 0.5rem;
    
    gap: 0.8rem;
    opacity: 0;
    transition: all 0.5s ease;
}

.chatroom {
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 0.8rem;
    width: 100%;
    transition: all 0.3s ease;
}

.chatroom-container {
    margin-top: 1.5rem;
    overflow-y: scroll;
    width: 100%;
    height: 100%;
    padding: 1rem 1rem;
    border-radius: 15px;
    border: 1px solid var(--color-primary);
    box-shadow: 0 0 10px 0px var(--color-primary);
    transition: all 0.3s ease;
}

.chat-enabled {
    opacity: 1;
}

#input-row {
    display: flex;
    width: 40vw;
    margin-bottom: 1.5rem;
    gap: 0.8rem;
    z-index: 1;
    transition: all 0.3s ease;
}

#message-input {
    background-color: var(--color-white);
    min-height: 5vh;
    padding: 1rem;
    width: 100%;
    color: var(--color-dark);
    transition: all 0.3s ease;
    border: 1px solid var(--color-white);
}

#message-input:focus {
    border: 1px solid var(--color-primary);
}

#send-btn {
    padding: 1rem;
    background-color: var(--color-primary);
}

#send-btn span {
    display: block;
    margin: auto auto;
    color: var(--color-white);
}