.contacts-container{
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    justify-content: left;
    align-content: flex-start;
    width: 100%;
    height: 100%;
    min-width: 10rem;
    grid-column: 1 / 3;
    overflow-y: scroll;
    gap: 1rem;
    padding: 1rem;
    border-top:  2px solid var(--color-light);
    border-bottom:  2px solid var(--color-light);
    box-shadow: 0 0 1px 2px rgba(0, 0, 0, 0);
    transition: all 0.5s ease;
}

/* .contacts-container:hover{
    border-top:  2px solid var(--color-dark-variant);
    border-bottom:  2px solid var(--color-dark-variant);
} */

.contacts-container .contact{
    position: relative;
    display: flex;
    align-items: start;
    justify-content: center;
    width: 100%;
    cursor: pointer;
    padding: 1rem 0;
    gap: 1rem;
    transition: all 0.3s ease;
}

.dash-line{
    width: 100%;
    height: 0%;
    align-self: center;
    border-bottom: 2px dashed var(--color-light);
    transition: all 0.5s ease;
}

.contacts-container .contact:hover .dash-line{
    border-bottom: 2px dashed var(--color-dark-variant);
}

.contacts-container .contact span{
    font-size: xx-large;
    text-align: center;
    align-content: center;
    cursor: pointer;
}

.contact .person-add{
    display: unset;
    width: auto;
    color: var(--color-primary);
    transition: all 0.5s ease;
}

.contact-selected .person-add{
    display: none;
    width: 0;
}

.contact .person-cansel{
    display: none;
    width: 0;
    color: var(--color-danger);
    transition: all 0.5s ease;
}

.contact-selected .person-cansel{
    display: unset;
    width: auto;
}

.contacts-container .contact img{
    width: 40%;
    height: 40%;
    border-radius: 100%;
    background-color: #1B9C85;
}

.contacts-container .contact h3{
    color: var(--color-dark);
    font-size: large;
}

.contacts-container .no-contacts-message{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: center;
    justify-self: center;
    align-content: center;
    margin: auto;
    border-radius: 15px;
    opacity: 0;
    padding: 2rem;
    gap: 1rem;
    transition: all 0.5s ease;
}

.contacts-container:hover .no-contacts-message{
    opacity: 1;
}