@{
    ViewData["Title"] = "Вход";
}

<link rel="stylesheet" href="~/css/account.css" asp-append-version="true" />

<div id="login-container">
    <form asp-controller="Account">
        <div class="first">
            <input placeholder="Login" name="Login" />
            <input placeholder="Password" name="Password" />
            <button class="fogot-pswd-btn primary">Fogot Password?</button>
        </div>

        <div class="second">
            <button class="singin-btn" type="submit" method="post" asp-action="Login">Sing in</button>
            <button class="singup-btn primary" type="submit" method="get" asp-action="Register">Sing up</button>
        </div>
    </form>
</div>