@{
    ViewData["Title"] = "Регистрация";
}

<link rel="stylesheet" href="~/css/account.css" asp-append-version="true" />

<div id="login-container">
    <form asp-controller="Account">
        <div class="first">
            <input required placeholder="Имя" name="Name" />
            <input required placeholder="Логин" type="email" name="Login" />
            <input required placeholder="Пароль" type="password" name="Password" />
        </div>

        <div class="second">
            <button class="button primary-btn" type="submit" method="post" asp-action="SingUp">Создать</button>
        </div>
    </form>
</div>