@{
    ViewData["Title"] = "Settings";
}

<link rel="stylesheet" href="~/css/settings.css" asp-append-version="true" />

<div class="main-container">
    <div>
        <button id="changeThemeBtn" class="button">
            <h2>Light</h2>
        </button>
    </div>
</div>

<script>
    let toggleThemeButton = document.getElementById("changeThemeBtn");
    let _body = document.querySelector("body");

    let _darkThemeClass = "dark-mode-variables";

    toggleThemeButton.addEventListener('click', function () {
        toggleTheme();
    });

    function saveTheme(theme) {
        localStorage.setItem('theme', theme);
    }

    function toggleTheme() {
        if (_body.classList.contains(_darkThemeClass)) {
            _body.classList.remove(_darkThemeClass)
            saveTheme("light");
        }
        else {
            _body.classList.add(_darkThemeClass)
            saveTheme("dark");
        }
    }
</script>