<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebServer</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/aside.css" asp-append-version="true" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>

<body class="dark-mode-variables"> <!--class="dark-mode-variables"!-->
    <div class="container">
        <partial name="~/Views/partials/menu_aside.cshtml" />
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
        <partial name="~/Views/partials/chats_aside.cshtml" />
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/aside.js" asp-append-version="true"></script>
    <script src="~/js/main-container_enable.js" asp-append-version="true"></script>
    <script>

    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>