@{
    ViewData["Title"] = "Чаты";
}

@{
    foreach (var item in ViewBag.Chats)
    {
        <form asp-controller="chat" asp-action="Chat">
            <input class="visually-hidden" name="User" value="@ViewBag.User" />
            <input class="visually-hidden" name="Id" value="@item?.Id" />
            <input name="Name" value="@item?.Name" />
            <button type="submit">open</button>
        </form>
    }
}
