@{
    ViewData["Title"] = "Create";
}

<link rel="stylesheet" href="~/css/create_chat.css" asp-append-version="true" />

<div class="main-container">
    <div class="default-elem create_chat_container">
        <partial name="~/Views/partials/chat_settings.cshtml" />

        <partial name="~/Views/partials/contacts_block.cshtml" />

        <span class="ok-button material-symbols-sharp">
            check
        </span>
    </div>
</div>

<script>
    let inputField = document.querySelector(".inputs-container .chat-name");
    let inputDescription = document.querySelector(".inputs-container .chat-description");
    let inputImage = document.querySelector(".load-photo-container .input-file");
    let okBtn = document.querySelector(".ok-button");

    inputField.addEventListener("input", event => {
        if (event.target.value.length > 0) {
            if (!okBtn.classList.contains('ok-btn-enabled'))
                okBtn.classList.add("ok-btn-enabled");
        }
        else {
            if (okBtn.classList.contains('ok-btn-enabled'))
                okBtn.classList.remove("ok-btn-enabled");
        }
    });

    okBtn.addEventListener("click", e => {
        createChat();
    });

    async function createChat() {
        let contacts = document.querySelectorAll(".contact-selected");
        let idList = Array.from(contacts).map(contact => {
            return contact.querySelector(".contact-id").value;
        });

        var image = inputImage.files[0];
        var path = "";
        if (image)
            path = await uploadImage(image);

        var createModel = {
            Name: inputField.value,
            Description: inputDescription.value,
            Image: path,
            UsersId: idList,
        }

        fetch('/Chat/Create', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(createModel),
            redirect: "follow",
        }).then(response => {
            if (response.redirected)
                window.location.href = response.url;
        });
    }

    async function uploadImage(image) {
        try {
            var formData = new FormData();
            formData.append('file', image);

            const response = await fetch('/Chat/UploadChatImage/', {
                method: 'POST',
                body: formData
            });

            if (!response.ok) {
                throw new Error('Ошибка загрузки изображения');
            }

            const data = await response.json();
            console.log('Ссылка на изображение:', data.imageUrl);
            return data.imageUrl;
        }
        catch (error) {
            console.error('Произошла ошибка:', error);
            return "";
        }
    }
</script>

<script>
    function onClickContact(contactDiv) {

        var userId = contactDiv.querySelector('.contact-id').value;
        var userName = contactDiv.querySelector('.contact-name').textContent;
        var user = { Id: userId, Name: userName };

        if (contactDiv.classList.contains('contact-selected'))
            contactDiv.classList.remove("contact-selected");
        else
            contactDiv.classList.add("contact-selected");
    }
</script>